html, body {
  height: 100%;
}

.game {
  margin: 10px;
}

.status {
  width: 210px;
  margin-bottom: 10px;
  background: #49FF79;
}

.board {
  max-width: 231px;
}
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 33px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  
  height: 75px;
  width: 75px;

  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  width: 200px;
}
li {
  list-style: none;
  height: 23px;
}

button {
  background: #00FF00;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

@media all and (max-width:230px) {
  .board {
    max-width: 180px;
    display: flex;
    flex-wrap: wrap;
  }
  .square {
    height: 58px;
    width: 58px;

  }
}
@media all and (min-width:500px) {
  .game {
    display: flex;
    justify-content: space-around;
  }
}


/* Interesting way to just show one row! */
/* .board-row:after {
  clear: both;
  content: "";
  display: table;
} */